<div class="row">
  <div class="header col-lg-12">
    <h1 class="page-header">Lunar Map</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-3 margin-bottom-25">
    <%= select_tag :vehicle_id, options_for_select(@vehicle_ids.map { |vehicle_id| ["Vehicle #{vehicle_id}", vehicle_id]}), {:prompt => "- Select Vehicle -", class: 'form-control'} %>
    <div class="row">
      <div class='col-md-12 message margin-top-5'></div>
    </div>
  </div>
  <div class="col-md-3 margin-bottom-25">
    <%= number_field :vehicle, :lat, class: 'form-control', required: true, placeholder: 'Latitude' %>
  </div>
  <div class="col-md-3 margin-bottom-25">
    <%= number_field :vehicle, :lng, class: 'form-control', required: true, placeholder: 'Longitude' %>
  </div>
  <div class="col-md-3 margin-bottom-25">
    <%= submit_tag 'Locate', {class: 'btn btn-primary form-control', id: 'locate' } %>
  </div>
  <%= hidden_field_tag :vehicle_name %>
</div>
<div class="row">
</div>
<div class="row">
  <div class="col-md-12 margin-bottom-25">
    <label>Distance from Apollo 11: </label>
    <span id="distance"></span>
  </div>
</div>

<div id="map" class='margin-bottom-25'></div>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAzB0YycmcaBF0lualcTRlhZdz4bL4pd8A&callback=initMap">
</script>
